# Libraries

In [1]:
# Free weather API: https://open-meteo.com/
import os
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import plotly.graph_objects as go
import numpy as np
import plotly.express as px
import datetime
import warnings
import os

In [2]:
data = pd.read_csv('data/hotel_bookings.csv')
data.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

# Data Cleaning

In [4]:
data = data.drop(['company', 'agent'], axis=1)
data = data.dropna(subset=['country', 'children', 'arrival_date_week_number'], axis=0)
data = data.reset_index(drop=True)
data['children'] = data['children'].astype(int)
data['children'].dtype #It is correct now!
NaN_updated = data.isna().sum()
NaN_updated

data.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,C,3,No Deposit,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,C,4,No Deposit,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,C,0,No Deposit,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,A,0,No Deposit,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,A,0,No Deposit,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [1]:
datetime_object = data['arrival_date_month'].str[0:3]
month_number = np.zeros(len(datetime_object))

# Creating a new column based on numerical representation of the months
for i in range(0, len(datetime_object)):
    datetime_object[i] = datetime.datetime.strptime(datetime_object[i], "%b")
    month_number[i] = datetime_object[i].month

# Float to integer conversion
month_number = pd.DataFrame(month_number).astype(int)

# 3 columns are merged into one
data['arrival_date'] = data['arrival_date_year'].map(str) + '-' + month_number[0].map(str) + '-' \
                       + data['arrival_date_day_of_month'].map(str)

# data = data.drop(['arrival_date_year', 'arrival_date_month', 'arrival_date_day_of_month',
#                   'arrival_date_week_number'], axis=1)
data.head()

NameError: name 'data' is not defined

In [6]:
# Converting wrong datatype columns to correct type (object to datetime)
data['arrival_date'] = pd.to_datetime(data['arrival_date'])
data['reservation_status_date'] = pd.to_datetime(data['reservation_status_date'])
print('Datatype of the arrival_date:', data['arrival_date'].dtype)
print('Datatype of the reservation_status_date:', data['reservation_status_date'].dtype)

Datatype of the arrival_date: datetime64[ns]
Datatype of the reservation_status_date: datetime64[ns]

# Creating New Features

In [7]:
# Calculating total guests for each record
data['total_guests'] = data['adults'] + data['children']
data['total_guests'].head(10)
data = data[data['total_guests'] != 0]
#data = data[data['is_canceled'] == 0]
data['total_stays'] = data['stays_in_weekend_nights'] + data['stays_in_week_nights']
data = data[data['total_stays'] != 0]
# Remove all cancelled bookings..

data = data.reset_index(drop=True)

# Save processed datasets to disk

In [11]:
# Create two dataframes, one for each hotel
dataResort = data[data['hotel'] == 'Resort Hotel']
dataCity = data[data['hotel'] == 'City Hotel']

# Preserve only columns that might prove useful

dataCity = dataCity[['hotel', 'country', 'arrival_date', 'total_guests', 'total_stays', 'year', 'month', 'day', 'week']]
dataResort = dataResort[['hotel', 'country', 'arrival_date', 'total_guests', 'total_stays']]

# Reset indices
data = data.reset_index(drop=True)
dataCity = dataCity.reset_index(drop=True)
dataResort = dataResort.reset_index(drop=True)

os.makedirs('data/processed/', exist_ok=True)  

# Save the condensed and correct dataset to disk
dataCity.to_csv('data/processed/data_city.csv') 
dataResort.to_csv('data/processed/data_resort.csv')  
dataCity.head(5)

        hotel country arrival_date  total_guests  total_stays
0  City Hotel     PRT   2015-07-01             1            2
1  City Hotel     PRT   2015-07-01             2            4
2  City Hotel     PRT   2015-07-01             1            4
3  City Hotel     PRT   2015-07-01             2            6
4  City Hotel     PRT   2015-07-02             2            2

In [13]:
guests_city = dataCity['total_guests'].groupby(dataCity['arrival_date']).sum()
guests_resort = dataResort['total_guests'].groupby(dataResort['arrival_date']).sum()
guests_city = guests_city.to_frame()
guests_resort = guests_resort.to_frame()

# Save the guest count per day to disk
guests_city.to_csv('data/processed/guests_city.csv')  
guests_resort.to_csv('data/processed/guests_resort.csv') 
guests_city.head(5)

              total_guests
arrival_date
2015-07-01             143
2015-07-02              96
2015-07-03              28
2015-07-04              72
2015-07-05              15